*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
img{
    width: 100%;
     
}
body{
    background-color: #FFFFFF;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
._container{
    max-width: 1046px;
    margin: 0 auto;
    padding: 0px 15px;
    box-sizing: content-box;
}

._ibg{
    position: relative;
}

._ibg img{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    object-fit: cover;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
}

.header{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.header__container{
    display: flex;
    min-height: 104px;
    align-items: center;
}

.header_meny{
    margin: 0px 0px 0px 80px;
}

@media (max-width:992px){
    .header_meny{
    margin: 0px 0px 0px 60px;
}
}


@media (max-width:767px){
    .header_meny{
    margin: 0px 0px 0px 40px;
}
}


@media (max-width:479px){
    .header_meny{
    margin: 0px 0px 0px 20px;
}
}


.header__logo{
    font-size: 24px;
    color: black;
    font-weight: bold;
}

.meny_link{
    color: rgb(116, 111, 111);
    font-weight: 600;
}

.meny__list{
    display: flex; 
    flex-wrap: wrap;
}

.meny__item{
    margin: 0px 0px 0px 21px;
}



@media (max-width:479px){
    .meny_link{
    font-size: 18px;
}
}






.page{
    flex: 1 1 auto;
}

.main_block__image{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}

.main-block{
    position: relative;

}

.main-block__body{
    padding: 284px 0px 191px 0px;
    position: relative;
    z-index: 2;
}

.main-block_title{
    font-size: 50px;
    max-width: 500px;
}

.main-block__text{
    max-width: 380px;
    margin-top: 20px;
    color: rgb(92, 82, 82);
    font-weight: 200px;
    line-height: 30px;
}

.email1{
    margin-top: 20px;
    padding: 10px 60px;
    border-radius: 7px;
    border: white solid 2px;
}

.link{
    background-color: rgb(255, 60, 0);
    color: white;
    font-weight: bold;
    padding: 8px 6px;
    border-radius: 7px;
    position: relative;
    top: 2px;
    transition: .4s;
}

.link:hover{
    background-color: chartreuse;
    color: black;
}



@media (max-width: 1080px){
    .main_block__image img{
        object-position: right;
    }
}



@media (max-width: 790px){
    .main_block__image img{
       opacity: 0.6;
    }
}


@media (max-width: 565px){
   .link{
       padding: 8px 90px;
   }
}



.mani_hello {
    display: flex;
    flex-direction: row-reverse;
}

.mani{
    background-color: #413E65;
}

.mani-bloch__body{
    line-height: 30px;
    margin: 40px 0px 0px -24px;
    height: 600px;
}

.mani-block__img{
    width: 65px;
    position: relative;
    right: 80px;
    top: 80px;
}

.mani-block__item{
    margin-left: 100px;
}


.mani-block_big{
    font-size: 10px;
    color: white;
}

.mani_block_little{
    line-height: 30px;
    margin-top: 20px;
    color: wheat;
}

.mani_block_link{
    color: wheat;
    background-color: #F04037;
    padding: 10px 30px;
    font-weight: bold;
    margin-top: 20px;
}







@media (max-width:1160px){
    .mani-bloch__body{
        width: 400px;
        margin: 0 auto;
        font-weight: bold;
    }
}





@media (max-width:1020px){
    .mani-bloch__body{
        width: 400px;
        margin: 0 auto;
    }
}


@media (max-width:920px){
    .mani-bloch__body{
        width: 800px;
        margin: 0 auto;
        font-size: 14px;
    }

}


@media (max-width:820px){
    .mani-bloch__body{
        width: 400px;
        margin: 0 auto;
        font-size: 17px;
    }
}


@media (max-width:720px){
    .mani-bloch__body{
        width: 600px;
        margin: 0 auto;
        font-size: 15px;
    }
}


@media (max-width:620px){
    .mani-bloch__body{
       width: 500px;
        margin: 0 auto;
    }
}


@media (max-width:520px){
    .mani-bloch__body{
        width: 400px;
        margin: 0 auto;
    }
}


@media (max-width:420px){
    .mani-bloch__body{
        width: 400px;
        margin: 0 auto;
    }
}
















@media (max-width:1160px){
    ._container{
        width: 1000px;
        margin: 0 auto;
    }
}


@media (max-width:1020px){
    ._container{
        width: 900px;
        margin: 0 auto;
    }
}


@media (max-width:920px){
    ._container{
        width: 800px;
        margin: 0 auto;
    }

}


@media (max-width:820px){
    ._container{
        width: 900px;
        margin: 0 auto;
    }
}


@media (max-width:720px){
    ._container{
        width: 600px;
        margin: 0 auto;
    }
}


@media (max-width:620px){
    ._container{
        width: 500px;
        margin: 0 auto;
    }
}


@media (max-width:520px){
    ._container{
        width: 400px;
        margin: 0 auto;
    }
}


@media (max-width:420px){
    ._container{
        width: 300px;
        margin: 0 auto;
    }
}

.mani_block_little{
    width: 60%;
}

.mani-block__titile{
    width: 100%;
    background-color: white;
    height: 100px;
    margin-top: 30px;
    border-radius: 8px;
}

.number{
    position: relative;
    bottom: 60px;
    margin: 10px;
}

.mani_pipi{
    position: relative;
    left: 100px;
    top: 200px;
}


.mani-block_big{
    width: 50%;
    font-size: 40px;
}







@media (max-width:1160px){
    .mani-block_big{
        width: 400px;
        margin: 0 auto;
        position: relative;
        right: 100px;
    }
}



@media (max-width:1020px){
    .mani-block_big{
        width: 350px;
        margin: 0 auto;
    }
}


@media (max-width:920px){
    .mani-block_big{
        width: 340px;
        margin: 0 auto;
    }

}


@media (max-width:820px){
    .mani-block_big{
        width: 340px;
        margin: 0 auto;
    }


}


@media (max-width:720px){
    .mani-block_big{
        width: 600px;
        margin: 0 auto;
    }
}


@media (max-width:620px){
    .mani-block_big{
        width: 500px;
        margin: 0 auto;
    }
}


@media (max-width:520px){
    .mani-block_big{
        width: 400px;
        margin: 0 auto;
    }
}


@media (max-width:420px){
    .mani-block_big{
        width: 300px;
        margin: 0 auto;
    }
}













@media (max-width:720px){
    .mani_hello{
        width: 400px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    .span{
        position: relative;
        bottom: 200px;
        left: -100px;
        text-align: center;
    }

    .mani_block_little{
        position: relative;
        left: -13px;
    }

    .mani-block_big{
        width: 85%;
        position: relative;
        right: 20px;
    }

    .mani_block_link{
        position: relative;
        left: 120px;
    }
}











@media (max-width:1160px){
    .mani_block_little{
        width: 400px;
        margin: 0 auto;
        position: relative;
        right: 100px;
    }
}


@media (max-width:1020px){
    .mani_block_little{
        width: 400px;
        margin: 0 auto;
        right: 70px;
    }
}


@media (max-width:920px){
    .mani_block_little{
        width: 400px;
        margin: 0 auto;
    }

}


@media (max-width:820px){
    .mani_block_little{
        width: 400px;
        margin: 0 auto;
    }
}

